body{
	background-color: silver;
}
p
{
	color: green;
}
p.style
{
	color: red;
	width: 100px;
	float: right;
}
img{
	width: 200px;
	height: 200px;
}

#func
{
		border-width: thin;
	border-style: solid;
	border-color: #007e7e;
	width: 200px;
	padding-width:10px;
	margin: 20px;
	border-width: 10px;
	padding-bottom: 40px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 100px;
	font-weight: bolder;
	color: blue;
	float: right;
}

.a{
	font-style: italic;
	font-weight: bolder;
}

#func a:hover
{
	background: #f88396;
	color:#0d5353;
}